/* general */
body {
background-color:white;
font-size:16px;
font-style:normal;
position:relative;
font-family:"Gotham Rounded A", "Gotham Rounded B", Helvetica, Arial, sans-serif;
}
.row{
width:1030px;
max-width:100%;
min-width:768px;
padding:0px;
margin:0 auto;
}

.clearfix{
overflow:auto;
}
/* end general */

/* header */
.header{
background-position:top center;
background-repeat:no-repeat;
background-image:;
background-size:cover;
position:relative;
padding-top:50px;
height:650px;
margin-bottom:20px;
}
.header_logo{
position:relative;
}
.header_menu.pure-menu{
position:relative;
width:60%;
background:transparent;
}
.header_menu.pure-menu ul{
line-height:63px;
height:63px;
float:right;
}
.header_main{
position:relative;
top:270px;
}
.header_main h2{
margin:0px;
color:rgb(213,213,213);
}
/* end header */
/* content */
.section{
position:relative;
margin-bottom:50px;
margin-top:20px;
}
.row.sec_content{
width:920px;
}
.section .sec_pic{
height:307px;
background:blue;
}
.section .sec_p{
line-height:1.6;
}
.row .member_photo, .row .member_basic{
margin-top:15px;
margin-bottom:10px;
}
.member_photo img{
display:block;
width:130px;
height:113px;
margin:auto;
}
.member_basic .basic_item{
line-height:1.5;
}
.basic_item span{
display:block;
float:left;
width:70px;
}
.member_intro p{
width:70%;
margin:auto;
margin-bottom:30px;
}
/* end content */

