{% extends "base.html" %}

{% block header %}
	<h1>Work Hard, Play Hard</h1>
{% endblock %}

{% block content %}
	<div class="section ltr">
		<div class="row sec_content pure-g-r">
			<div class="sec_pic pure-u-1-3">
				<img src="" />
			</div>
			<div class="sec_p pure-u-2-3">
				<p>
				testasdsl idjh flkajsbd lfkjasdklfbals kjdblkasjbdflkj absdljfbaslbkdf alsjbgaljsdfk jasndfklbs adljkblsad hfblkasjdn flkjabsdk lfjasdlfhkbas
				</p>
			</div>
		</div>
	</div>
	<div class="section rtl">
		<div class="row sec_content pure-g-r">	
			<div class="sec_p pure-u-2-3">
				<p>
				kjhd bfjkahs bdkjsbhdj kbsfkhk ajhblfkj glkajgsk ldjaglk jdblkaj sndfks afkasjbd fkjabsdk lfjblk
				</p>
			</div>
			<div class="sec_pic pure-u-1-3">
				<img src="" />
			</div>
		</div>
	</div>
{% endblock %}
