{% extends "base.html" %}

{% block header %}
	<h2>Stay Humble,To Strive, To Seek, To Find</h2>
{% endblock %}

{% block content %}
	<div class="section ltr sec_1">
		<div class="row sec_content pure-g-r">
			<div class="sec_title sec_left pure-u-2-5">
				<div class="sec_cover">
						<h1>1</h1>
						<p>Social Connections</p>
				</div>
			</div>
			<div class="sec_p pure-u-3-5">
				<p>
				testasdsl idjh flkajsbd lfkjasdklfbals kjdblkasjbdflkj absdljfbaslbkdf alsjbgaljsdfk jasndfklbs adljkblsad hfblkasjdn flkjabsdk lfjasdlfhkbas
				</p>
			</div>
		</div>
	</div>
	<div class="section rtl sec_2">
		<div class="row sec_content pure-g-r">	
			<div class="sec_p pure-u-3-5">
				<p>
				kjhd bfjkahs bdkjsbhdj kbsfkhk ajhblfkj glkajgsk ldjaglk jdblkaj sndfks afkasjbd fkjabsdk lfjblk
				</p>
			</div>
			<div class="sec_title sec_right pure-u-2-5">
				<div class="sec_cover">
						<h1>2</h1>
						<p>Leadership Training</p>
				</div>
			</div>
		</div>
	</div>
	<div class="section ltr sec_3">
		<div class="row sec_content pure-g-r">
				<div class="sec_title sec_left pure-u-2-5">
						<div class="sec_cover">
								<h1>3</h1>
								<p>Academic Activity</p>
						</div>
				</div>
				<div class="sec_p pure-u-3-5">
						<p>
						asdghfuksgf aksdufk  aksudfygk aksdgf h ksahgdf kjsdfkj sdfsdf as df sdgasdf ads  fasdf asd fas fgasdf   af asdf 
						</p>
				</div>
		</div>
	</div>
{% endblock %}
