{% extends "base.html" %}

{% block header %}
	<h2>Stay Humble,To Strive, To Seek, To Find</h2>
{% endblock %}

{% block content %}
	<div class="section ltr">
		<div class="row sec_content pure-g-r">
			<div class="sec_pic pure-u-2-5">
				<img src="../../static/imgs/presentation.gif" />
			</div>
			<div class="sec_p pure-u-3-5">
				<p>
				testasdsl idjh flkajsbd lfkjasdklfbals kjdblkasjbdflkj absdljfbaslbkdf alsjbgaljsdfk jasndfklbs adljkblsad hfblkasjdn flkjabsdk lfjasdlfhkbas
				</p>
			</div>
		</div>
	</div>
	<div class="section rtl">
		<div class="row sec_content pure-g-r">	
			<div class="sec_p pure-u-3-5">
				<p>
				kjhd bfjkahs bdkjsbhdj kbsfkhk ajhblfkj glkajgsk ldjaglk jdblkaj sndfks afkasjbd fkjabsdk lfjblk
				</p>
			</div>
			<div class="sec_pic pure-u-2-5">
				<img src="../../static/imgs/books.gif" />
			</div>
		</div>
	</div>
{% endblock %}
